@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&family=Skranji&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #c00000;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.input_texto {
  display: flex;
  margin-left: 30px;
  gap: 15px;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 40px;
  margin: 1rem;
  width: 60%;
  justify-content: end;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}

.inicio {
  width: 100%;
  justify-content: center;
}

.menu div {
  align-content: space-between;
}


.menu_item a {
  color: white;
  text-decoration: none;
}

.contenedor {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "caja1 caja5"
  "caja2 caja5"
  "caja3 caja5"
  "caja4 caja5";
}

.contenedor_agregar_cancion{
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "caja1 caja1"
  "caja2 caja2"
  "caja2 caja2"
  "caja2 caja2";
}

.contenedor2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcd90;
  width: 100%;
  height: 100vh;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caja1 {
  grid-area: caja1;
  background-color: #ff8d21;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
  font-size: 20px;
}

.caja1:hover {
  transform: scaleX(1.03);
  transition: .2s;
}

.img_artista {
  height: 120px;
  width: 170px;
  border-radius: 30px;
}

.div_artista_creado {
  display: flex;
  width: 100%;
  margin-left: 20px;
  gap: 35px;
  align-items: center;
}

.caja2 {
  grid-area: caja2;
  background-color: #ffa652;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}

.caja2:hover {
  transform: scaleX(1.03);
  transition: .2s;
}

.caja3 {
  grid-area: caja3;
  background-color: #ff8d21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.caja3:hover {
  transform: scaleX(1.03);
  transition: .2s;
}

.imgSP{
  height: 70px;
  width: 70px;
}

.btnSP{
  background-color: #000000;
  color: white;
  height: 3rem;
  width: 10rem;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}

.caja4 {
  grid-area: caja4;
  background-color: #ffa652;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}

.caja4:hover {
  transform: scaleX(1.03);
  transition: .2s;
}

.caja5 {
  grid-area: caja5;
  background-color: #ffcd90;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.caja5:hover {
  transform: scale(1, 1.01);
  transition: .2s;
}

.btn_semitono {
  margin-top: 30px;
  background-color: #000000;
  color: white;
  height: 1.5rem;
  width: 10rem;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  font-family: 'Skranji', cursive;
}

.div_cancion {
  height: 85%;
  overflow-y: auto;
}

.parrafo_cancion {
  font-size: 16px;
}

footer {
  display: flex;
  background-color: #c00000;
  width: 100%;
  height: 40px;
  justify-content: center;
  gap: 50px;
}

.icon_footer {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  color: white;
}